@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces[SOFT,WONK,opsz,wght].woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces Italic';
  src: url('/fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos UI';
  src: url('/fonts/Golos-UI_VF.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

a {
  cursor: pointer;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  color: var(--primary-color);
  font-size: var(--step-5);
  font-family: var(--fraunces);
  font-weight: 900;
  font-variation-settings: 'SOFT' 50, 'WONK' 1;
}

p {
  font-family: var(--fraunces);
  font-variation-settings: 'wght' 400, 'opsz' 9, 'SOFT' 100;
  max-width: 60ch;
  line-height: 1.5em;
}
body {
  --saturation: 20%;
  --lightness: 50%;
  --opacity: 0.5;
  background: linear-gradient(
      217deg,
      var(--secondary-color-background),
      var(--primary-color-background)
    ),
    linear-gradient(
      127deg,
      var(--primary-color-background),
      var(--secondary-color-background)
    ),
    linear-gradient(
      336deg,
      var(--primary-color-background),
      var(--secondary-color-background)
    );
  background-blend-mode: saturation;
}

main {
  display: grid;
  justify-content: center;
  width: clamp(16rem, 80vw, 75rem);
  margin-top: 5rem;
}

path {
  transform-origin: center;
}

header,
header + div {
  z-index: 3;
}
