a {
  cursor: pointer;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  color: var(--primary-red);
  font-size: var(--step-6);
  font-family: var(--radioCanada);
  font-variation-settings: 'wdth' 75, 'wght' 700, 'ital' 1;
}

body {
  --saturation: 20%;
  --lightness: 50%;
  background: linear-gradient(
      217deg,
      var(--brown-10),
      hsla(110, 50%, 90%, 0) 70.71%
    ),
    linear-gradient(127deg, hsla(40, 50%, 90%), hsla(110, 50%, 90%, 1) 70.71%),
    linear-gradient(336deg, hsla(359, 50%, 90%, 0.8), rgba(0, 0, 255, 0) 70.71%);
  background-blend-mode: saturation;
}

main {
  display: grid;
  justify-content: center;
}

path {
  transform-origin: center;
}

header {
  z-index: 3;
}
