/* @font-face {
  font-family: Science Gothic;
  src: url('/public/fonts/ScienceGothic.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+2190-2193, U+2018, U+2019, U+201C,
    U+201D, U+2022;
} */

a {
  cursor: pointer;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  color: var(--primary-red);
  font-size: var(--step-6);
  font-family: var(--system-monospace);
  font-weight: 900;
}

body {
  --saturation: 20%;
  --lightness: 50%;
  background: linear-gradient(
      217deg,
      var(--brown-10),
      hsla(110, 50%, 90%, 0) 70.71%
    ),
    linear-gradient(127deg, hsla(40, 50%, 90%), hsla(110, 50%, 90%, 1) 70.71%),
    linear-gradient(336deg, hsla(359, 50%, 90%, 0.8), rgba(0, 0, 255, 0) 70.71%);
  background-blend-mode: saturation;
}

main {
  display: grid;
  justify-content: center;
  width: clamp(16rem, 80vw, 75rem);
  margin-top: 5rem;
}

path {
  transform-origin: center;
}

header,
header + div {
  z-index: 3;
}
