.main_container {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 18vh;
}

.main_video_container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  width: var(--main-video-clamp);
  height: 90%;
  place-items: center;
}

.ad_container {
  width: min(80vw, 30rem);
  object-fit: cover;
  position: relative;
  border: max(0.6rem, 0.8vw) solid var(--media-border-color);
  border-radius: 10px;
  box-shadow: 0 0 30px var(--media-border-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: bouncein 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s 1;
}

@keyframes bouncein {
  from {
    transform: translateY(-1000px);
  }

  65% {
    transform: translateY(50px);
  }

  80% {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0px);
  }
}

.ad_container_closed {
  display: none;
}

.close_box {
  position: absolute;
  width: 40px;
  height: 40px;
  position: inherit;
  top: -20px;
  right: -20px;
  background-color: var(--brown-10);
  border: 4px solid var(--border-color);
  border-radius: 50px;
  cursor: pointer;
}

.ad_image_container {
  cursor: pointer;
}

.close_box_svg {
  display: grid;
}

.line_one {
  transform: translate(7px, 7px);
  stroke: var(--border-color);
  stroke-width: 5;
}

.svg {
  height: 1px;
}

.mandala_accent_1 {
  font-family: var(--golos);
  font-weight: 700;
}

.mandala_accent_1 .textPath {
  fill: red;
  text-shadow: 2px 2px black;
  font-size: 3.5em;
  animation: color-change 10s linear infinite alternate;
}

.mandala_accent_2 {
  mix-blend-mode: color;
  font-size: 1.2em;
  font-family: var(--fraunces);
  font-weight: 900;
  text-transform: uppercase;
  fill: beige;
}

.mandala_container {
  object-fit: contain;
  width: var(--main-layout-clamp);
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  mix-blend-mode: difference;
}

.interactive {
  fill: white;
}

.mandala {
  animation: rotation 100s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  0% {
    fill: var(--tertiary-color);
  }

  20% {
    fill: var(--quaternary-color);
  }

  40% {
    fill: var(--quinary-color);
  }
}
