.main_container {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 18vh;
}

.main_video_container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  width: var(--main-video-clamp);
  height: 90%;
  place-items: center;
}

.ad_container {
  grid-column: 1;
  position: relative;
  grid-row: 1;
  z-index: 10;
  box-shadow: var(--shadow-elevation-high);
}

.ad_container_closed {
  display: none;
}

.close_box {
  position: absolute;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--brown-10);
  border: 4px solid var(--border-color);
  border-radius: 50px;
  cursor: pointer;
}

.ad_image_container {
  cursor: pointer;
  width: min(80vw, 30rem);
  border: max(0.6rem, 0.8vw) solid var(--media-border-color);
  margin: 0 auto;
}

/* .banner_svg {
  transform: rotate(45deg) scale(1.3);
  position: absolute;
  left: -27px;
  bottom: 30px;
  filter: drop-shadow(2px 2px 5px var(--brown-90));
}

.banner_polygon {
  fill: var(--primary-color);
  stroke: var(--media-border-color);
  stroke-width: 3;
}

.svg_banner_text {
  text-transform: uppercase;
  font-family: var(--golos);
  fill: var(--brown-05);
  font-size: 0.9em;
  font-weight: 700;
}

.text_line_two {
  font-size: 0.7em;
} */
.close_box_svg {
  display: grid;
}

.line_one {
  transform: translate(7px, 7px);
  stroke: var(--border-color);
  stroke-width: 5;
}

.svg {
  height: 1px;
}

.mandala_accent_1 {
  font-family: var(--golos);
  font-weight: 700;
}

.mandala_accent_1 .textPath {
  fill: red;
  text-shadow: 2px 2px black;
  font-size: 3.5em;
  animation: color-change 10s linear infinite alternate;
}

.mandala_accent_2 {
  mix-blend-mode: color;
  font-size: 1.2em;
  font-family: var(--fraunces);
  font-weight: 900;
  text-transform: uppercase;
  fill: beige;
}

.mandala_container {
  object-fit: contain;
  width: var(--main-layout-clamp);
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  mix-blend-mode: difference;
}

.interactive {
  fill: white;
}

.mandala {
  animation: rotation 100s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  0% {
    fill: var(--tertiary-color);
  }

  20% {
    fill: var(--quaternary-color);
  }

  40% {
    fill: var(--quinary-color);
  }
}
