.container {
  background-image: radial-gradient(
      hsla(0, 0%, 10%, 0.1) 4%,
      hsla(0, 0%, 0%, 0) 4%
    ),
    radial-gradient(hsla(0, 0%, 10%, 0.1) 4%, hsla(0, 0%, 0%, 0) 4%);
  background-position: 0 0, 150px 150px;
  background-size: 100px 100px;
  width: 100%;
  /* background-blend-mode: overlay; */
  min-height: 100vh;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: space-between;
  margin: 0 auto;
  overflow: hidden;
}
