.tracks_container {
  display: grid;
  gap: min(7rem, 8vh);
  margin-top: min(2rem, 3vh);
}

.track_container {
  position: relative;
  display: grid;
  grid-template-columns: 55px 1fr;
  gap: 1rem;
  width: clamp(10rem, 90vw, 25rem);
}

.playpause_wrapper {
  border: var(--brown-90) solid 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0;
  cursor: pointer;
}

.track_info {
  display: grid;
  grid-template-columns: auto;
}

.track_name {
  font-family: var(--golos);
  text-transform: lowercase;
  letter-spacing: 0.2px;
  font-size: var(--step--1);
  background-color: var(--primary-red);
  width: fit-content;
  color: var(--brown-90);
  font-variation-settings: 'wght' 600;
  padding: 1px 4px;
}

.mono {
  font-family: var(--system-monospace);
  font-size: var(--step--2);
}

.duration_items {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.barone {
  transform: rotate(37deg) translate(2.6em, -1.7em);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  fill: var(--brown-80);
}

.bartwo {
  transform: rotate(90deg) translate(0, -5rem);
  fill: var(--brown-80);
}

.barthree {
  transform: rotate(-35deg) translate(-0.7em, 0.7em);
  transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  fill: var(--brown-80);
}

.progress_bar {
  --bar-bg: var(--brown-40);
  --seek-before-width: 1px;
  --seek-before-color: var(--border-color);
  --knobby: var(--primary-color);
  --selected-knobby: aqua;
  appearance: none;
  border: 1px solid var(--brown-80);
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
}

/* progress bar safari */
.progress_bar::-webkit-slider-runnable-track {
  border: 1px solid var(--border-color);
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
}

/* progress bar firefox */
.progress_bar::-moz-range-track {
  border: 1px solid var(--border-color);
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
}

.progress_bar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progress_bar::before {
  content: '';
  height: 4px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progress_bar::-moz-range-progress {
  height: 5px;
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* knob chrome & safari */
.progress_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: none;
  border: 2px solid var(--brown-80);
  height: 18px;
  width: 7px;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -7px 0 0 -2px;
  z-index: 1;
}

/* while dragging safari & chrome */
.progress_bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background-color: var(--selected-knobby);
}

/* knob firefox */
.progress_bar::-moz-range-thumb {
  height: 18px;
  width: 7px;
  border-radius: none;
  border: 2px solid var(--brown-80);
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.progress_bar:active::-moz-range-thumb {
  transform: scale(1.2);
  background-color: var(--selected-knobby);
}
