.images_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: min(3em, 4vw);
  height: 100%;
  grid-auto-flow: dense;
  place-items: center;
  width: var(--image-wrapper-clamp);
  overflow: hidden;
  margin-top: min(1rem, 2vh);
}

.img_container {
  position: relative;
  width: 100%;
  object-fit: cover;
  border: max(0.6rem, 0.8vw) solid black;
  box-shadow: 2px 1px var(--brown-05), 7px 7px black;
}

.wide_image {
  grid-column: span 3;
  grid-row: span 2;
}

.tall_image {
  grid-column: span 2;
  grid-row: span 3;
}

.square_image {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (max-width: 600px) {
  .images_wrapper {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/* main > h1 {
          border: red solid 10px;
        }

        video {
          width: 300px;
        }
        .images-wrapper {
          width: 80vw;
          height: clamp(20rem, 150vh, 100rem);
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
          grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
          grid-auto-flow: dense;
          grid-gap: 10px;
          place-items: center;
        } */

/* .img-container {
          object-fit: cover;
          display: grid;
          width: 100%;
          height: 100%;
        }
        .square-image {
          grid-column: span 4;
          grid-row: span 4;
        }
        .wide-image {
          grid-column: span 5;
          grid-row: span 4;
        }
        .tall-image {
          grid-row: span 5;
          grid-column: span 4;
        } */

/* video styles */
/* video {
          width: 100%;
          height: auto;
        }
        .img-container {
          object-fit: cover;
          display: grid;
          width: 100%;
          height: 100%;
        }
        .wide-image {
          grid-column: span 6;
          grid-row: span 3;
        }
        .tall-image {
          grid-row: span 4;
          grid-column: span 3;
        } */
