html {
  transition: all 1s ease-in;
}

:root {
  /* colors */
  --saturation: 50%;
  --lightness: 50%;
  --opacity: 0.2;
  --primary-hue: 281;
  --primary-hue-bg: 281;
  --secondary-hue: 75;
  --secondary-hue-bg: 75;
  --primary-color: hsl(var(--primary-hue), var(--saturation), var(--lightness));
  --scrollbar-color: hsl(
    var(--primary-hue),
    var(--saturation),
    var(--lightness)
  );
  --primary-color-background: hsla(
    var(--primary-hue-bg),
    var(--saturation),
    var(--lightness),
    var(--opacity)
  );
  --secondary-color: hsl(
    var(--secondary-hue),
    var(--saturation),
    var(--lightness)
  );
  --tertiary-color: hsl(29, 49%, 60%);
  --quaternary-color: hsl(236, 59%, 60%);
  --quinary-color: hsl(192, 64%, 60%);

  --secondary-color-background: hsl(
    var(--secondary-hue-bg),
    var(--saturation),
    var(--lightness),
    var(--opacity)
  );
  --bg-dot-one: hsla(0, 0%, 10%, 0.1);
  --bg-dot-two: hsla(0, 0%, 0%, 0);

  /* grayscale */
  --gray-05: hsl(150, 0%, 95%);
  --gray-10: hsl(150, 0%, 90%);
  --gray-20: hsl(150, 0%, 80%);
  --gray-30: hsl(150, 0%, 70%);
  --gray-40: hsl(150, 0%, 60%);
  --gray-50: hsl(150, 0%, 50%);
  --gray-60: hsl(150, 0%, 40%);
  --gray-70: hsl(150, 0%, 30%);
  --gray-80: hsl(150, 0%, 20%);
  --gray-90: hsl(150, 0%, 10%);
  /* browns */
  --brown-05: hsl(26, 50%, 95%);
  --brown-10: hsl(26, 50%, 90%);
  --brown-20: hsl(26, 50%, 80%);
  --brown-30: hsl(26, 50%, 70%);
  --brown-40: hsl(26, 50%, 60%);
  --brown-50: hsl(26, 50%, 50%);
  --brown-60: hsl(26, 50%, 40%);
  --brown-70: hsl(26, 50%, 30%);
  --brown-80: hsl(26, 50%, 20%);
  --brown-90: hsl(26, 50%, 10%);

  --border-color: var(--brown-90);
  --media-border-color: hsl(150, 0%, 10%);
  --shadow-color: 35deg 14% 39%;
  --shadow-elevation-low: 0.3px 0.2px 0.4px hsl(var(--shadow-color) / 0.44),
    0.5px 0.4px 0.7px -1.2px hsl(var(--shadow-color) / 0.44),
    1.4px 1.1px 2px -2.5px hsl(var(--shadow-color) / 0.44);
  --shadow-elevation-medium: 0.3px 0.2px 0.4px hsl(var(--shadow-color) / 0.37),
    0.9px 0.7px 1.3px -0.6px hsl(var(--shadow-color) / 0.37),
    1.8px 1.4px 2.6px -1.2px hsl(var(--shadow-color) / 0.37),
    3.6px 2.8px 5.1px -1.9px hsl(var(--shadow-color) / 0.37),
    7px 5.4px 9.9px -2.5px hsl(var(--shadow-color) / 0.37);
  --shadow-elevation-high: 0.3px 0.2px 0.4px hsl(var(--shadow-color) / 0.38),
    2px 1.5px 2.8px -0.3px hsl(var(--shadow-color) / 0.38),
    3.6px 2.8px 5.1px -0.6px hsl(var(--shadow-color) / 0.38),
    5.7px 4.4px 8.1px -0.9px hsl(var(--shadow-color) / 0.38),
    8.8px 6.8px 12.5px -1.2px hsl(var(--shadow-color) / 0.38),
    13.2px 10.1px 18.7px -1.6px hsl(var(--shadow-color) / 0.38),
    19.3px 14.9px 27.4px -1.9px hsl(var(--shadow-color) / 0.38),
    27.8px 21.4px 39.5px -2.2px hsl(var(--shadow-color) / 0.38),
    39px 30.1px 55.4px -2.5px hsl(var(--shadow-color) / 0.38);
}

/* type families */

:root {
  --system-monospace: ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --system-serif: 'Iowan Old Style', 'Apple Garamond', Baskerville,
    'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif;
  --system-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --fraunces: 'Fraunces', var(--system-serif);
  /* 'opsz' 9-144, 'wght' 100-900, 'SOFT' 0-100, 'WONK' 0-1 */
  --fraunces-italic: 'Fraunces Italic', var(--system-serif);
  --golos: 'Golos UI', var(--system-sans-serif);
  --font-weight: 700;
}

/* layout clamps */
:root {
  --main-layout-clamp: clamp(20rem, 90vw, 30rem);
  --main-video-clamp: clamp(30rem, 110vw, 45rem);
  --image-wrapper-clamp: clamp(10rem, 80vw, 70em);
}

/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,9,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
/* type scale */

:root {
  --step--3: clamp(0.76rem, calc(0.76rem + 0.02vw), 0.77rem);
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
  --step-6: clamp(3.92rem, calc(3.22rem + 3.52vw), 5.72rem);
  --step-7: clamp(4.7rem, calc(3.75rem + 4.78vw), 7.15rem);
  --step-8: clamp(5.64rem, calc(4.36rem + 6.43vw), 8.94rem);
  --step-9: clamp(6.77rem, calc(5.05rem + 8.59vw), 11.18rem);
}
